{% extends 'base.html' %}

{% load static %}

{% block title %}Liste des professeurs{% endblock %}

{% block rapport_active %}active{% endblock %}

{% block content %}
    <div class="content">
       

        <div class="form-container">
            <h1>Impresion Rapport</h1>

            <div class="form-group">
                <label for="classe">Sélectionner une classe</label>
                <select id="classe" name="classe">
                    <option value="6eme">6ème</option>
                    <option value="5eme">5ème</option>
                    <option value="4eme">4ème</option>
                    <option value="3eme">3ème</option>
                    <option value="2nde">2nde</option>
                    <option value="1ere">1ère</option>
                    <option value="terminale">Terminale</option>
                </select>
            </div>

            <div class="form-actions">
                <button class="btn-cancel" onclick="confirmCancel()">Générer format PDF</button>
                <button class="btn-save">Générer format Excel</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/script.js' %}"></script>
    {% block confirmation_js %}
    <script src="{% static 'js/supprimer.js' %}"></script>
    {% endblock %}
{% endblock %}