{% extends 'base.html' %}

{% load static %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block utilisateur_active %}active{% endblock %}

{% block content %}
    <div class="content1">
        <div class="back-button">
            <h1 style="color:black;">Liste des Utilisateurs</h1>
            <a href="{% url 'utilisateur:ajout_utilisateur' %}"><i class="fas fa-arrow-left"></i>Nouveau utilisateur</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Admin</td>
                    <td>16/08/2024</td>
                    <td>
                        <a href="{% url 'utilisateur:modifier_utilisateur' %}" style="background-color: rgba(255, 217, 0, 0.897);">Modifier</a>
                    </td>
                </tr>
                <tr>
                    <td>User2</td>
                    <td>16/08/2024</td>
                    <td>
                        <a href="{% url 'utilisateur:modifier_utilisateur' %}" style="background-color: rgba(255, 217, 0, 0.897);">Modifier</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/supprimer.js' %}"></script>
{% endblock %}
